# === GitHub Linguist rules ===

# Nu mai arată CSS în statistici
*.css linguist-detectable=false
*.css linguist-vendored=true

# JS minificat ignorat
*.min.js linguist-generated=true

# Fișiere compilate sau generate
*.map linguist-generated=true
*.lock linguist-generated=true

# HTML considerat documentație
*.html linguist-documentation=true

# Media files
*.png linguist-generated=true
*.jpg linguist-generated=true
*.jpeg linguist-generated=true
*.gif linguist-generated=true
*.svg linguist-generated=true
*.ico linguist-generated=true

# Accentuează Java
*.java linguist-detectable=true
*.java linguist-language=Java
