<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
</head>
<body>

<div th:fragment="about">
    <!-- Footer Section Begin -->
    <footer class="footer-section">
        <div class="container">
            <div class="row">
                <!-- About Section -->
                <div class="col-lg-4">
                    <div class="footer-about">
                        <div class="fa-logo">
                            <a href="#"><img src="/img/skill-swap-logo.png" alt="Skill Swap Logo"></a>
                        </div>
                        <p>Skill Swap este comunitatea unde oamenii fac schimb de cunoștințe și abilități.
                            Învață ceva nou sau ajută pe altcineva să crească, fără bătăi de cap.
                            Împreună facem schimbul de skill-uri mai valoros decât banii.</p>
                        <div class="fa-social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                        </div>
                    </div>
                </div>

                <!-- Editor's Choice (lăsat neschimbat) -->
                <div class="col-lg-4 col-md-6">
                    <div class="editor-choice">
                        <div class="section-title">
                            <h5>Editor's Choice</h5>
                        </div>
                        <div class="ec-item">
                            <div class="ec-pic">
                                <img src="/img/skill/editor-1.jpg" alt="">
                            </div>
                            <div class="ec-text">
                                <h6><a href="#">Schimbul de skill-uri chiar funcționează! Am învățat Photoshop fără să dau un leu.</a>
                                </h6>
                                <ul>
                                    <li><i class="fa fa-clock-o"></i>11 August 2025</li>
                                </ul>
                            </div>
                        </div>
                        <div class="ec-item">
                            <div class="ec-pic">
                                <img src="/img/skill/editor-2.jpg" alt="">
                            </div>
                            <div class="ec-text">
                                <h6><a href="#">Mulțumesc pentru lecțiile de Java, mi-au prins mai bine decât 3 cafele.</a>
                                </h6>
                                <ul>
                                    <li><i class="fa fa-clock-o"></i>10 August 2025</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Tags Section -->
                <div class="col-lg-4 col-md-6">
                    <div class="tags-cloud">
                        <div class="section-title">
                            <h5>Categorii populare</h5>
                        </div>
                        <div class="tag-list">
                            <a href="#"><span>Programare</span></a>
                            <a href="#"><span>Design</span></a>
                            <a href="#"><span>Fotografie</span></a>
                            <a href="#"><span>Scriere</span></a>
                            <a href="#"><span>Marketing</span></a>
                            <a href="#"><span>Limbi străine</span></a>
                            <a href="#"><span>Business</span></a>
                            <a href="#"><span>Coaching</span></a>
                            <a href="#"><span>DIY</span></a>
                            <a href="#"><span>Artă</span></a>
                            <a href="#"><span>Muzică</span></a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Copyright -->
            <div class="copyright-area">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="ca-text">
                            <p>
                                Copyright &copy;<script>document.write(new Date().getFullYear());</script>
                                Skill Swap | Toate drepturile rezervate
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="ca-links">
                            <a href="#">Despre noi</a>
                            <a href="#">Înscrie-te</a>
                            <a href="#">Contact</a>
                            <a href="#">Ajutor</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->
</div>

</body>
</html>
