<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Comment</title>
</head>
<body>

<div th:fragment="comment">
    <div class="dt-comment">
        <h4>3 comment</h4>
        <div class="dc-item">
            <div class="dc-pic">
                <img src="/img/details/comment/comment-1.jpg" alt="">
            </div>
            <div class="dc-text">
                <h5>Brandon Kelley</h5>
                <span class="c-date">15 Aug 2017</span>
                <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
                    adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et
                    dolore magnam.</p>
                <a href="#" class="reply-btn"><span>Reply</span></a>
            </div>
        </div>
        <div class="dc-item reply-item">
            <div class="dc-pic">
                <img src="/img/details/comment/comment-2.jpg" alt="">
            </div>
            <div class="dc-text">
                <h5>Brandon Kelley</h5>
                <span class="c-date">15 Aug 2017</span>
                <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
                    adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et
                    dolore magnam.</p>
                <a href="#" class="reply-btn"><span>Reply</span></a>
            </div>
        </div>
        <div class="dc-item">
            <div class="dc-pic">
                <img src="/img/details/comment/comment-3.jpg" alt="">
            </div>
            <div class="dc-text">
                <h5>Matthew Nelson</h5>
                <span class="c-date">15 Aug 2017</span>
                <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
                    adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et
                    dolore magnam.</p>
                <a href="#" class="reply-btn"><span>Reply</span></a>
            </div>
        </div>
    </div>
    <div class="dt-leave-comment">
        <h4>Leave a comment</h4>
        <form action="#">
            <textarea placeholder="Message"></textarea>
            <button type="submit">Submit</button>
        </form>
    </div>
</div>

</body>
</html>