<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div th:fragment="lateral-menu">
    <!-- Humberger Menu Begin -->
    <div class="humberger-menu-overlay"></div>
    <div class="humberger-menu-wrapper">
        <button class="humberger-close" type="button" th:attr="aria-label=#{navbar.close.menu}">
            <i class="fa fa-times"></i>
        </button>
        <div class="hw-logo">
            <a href="/index"><img class="site-logo" src="/img/skill-swap-logo-cameleon.png" alt="SkillSwap logo"></a>
        </div>
        <div class="hw-menu mobile-menu">
            <ul>
                <li class="active"><a th:href="@{/index}"><span th:text="#{lateral.home}">Acasă</span></a></li>
                <li><a th:href="@{/announces-list}"><span th:text="#{lateral.announces}">Anunțuri</span></a></li>
                <li><a th:href="@{/announces/new}"><span th:text="#{lateral.create}">Creează anunț</span></a></li>
                <li><a th:href="@{/contact}" th:text="#{lateral.contact}">Contact</a></li>
                <li><a sec:authorize="isAuthenticated()" th:href="@{/profile}" th:text="#{lateral.profile}">Profil</a></li>
            </ul>
        </div>
        <div id="mobile-menu-wrap"></div>
        <div class="hw-copyright">
            Copyright &copy;<script>document.write(new Date().getFullYear());</script>
            Skill Swap | <span th:text="#{lateral.copyright}">Toate drepturile rezervate</span>
        </div>
        <div class="hw-social">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-youtube-play"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
        </div>
    </div>
    <!-- Humberger Menu End -->
</div>

</body>
</html>
