<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div th:fragment="lateral-menu">
    <!-- Humberger Menu Begin -->
    <div class="humberger-menu-overlay"></div>
    <div class="humberger-menu-wrapper">
        <div class="hw-logo">
            <a href="/index"><img class="site-logo" src="/img/skill-swap-logo-cameleon.png" alt="SkillSwap logo"></a>
        </div>
        <div class="hw-menu mobile-menu">
            <ul>
                <li class="active"><a th:href="@{/index}"><span>Acasă</span></a></li>
                <li><a th:href="@{/announces-list}"><span>Anunțuri</span></a></li>
<!--                <li><a href="/post-details"><span>Pages</i></span></a></li>-->
                <li><a th:href="@{/chat}"><span>Chat</i></span></a></li>
                <li><a th:href="@{/contact}">Contact</a></li>
                <li><a sec:authorize="isAuthenticated()" th:href="@{/profil}">Profil</a></li>
            </ul>
        </div>
        <div id="mobile-menu-wrap"></div>
        <div class="hw-copyright">
            Copyright &copy;<script>document.write(new Date().getFullYear());</script>
            Skill Swap | Toate drepturile rezervate
        </div>
        <div class="hw-social">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-youtube-play"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
        </div>
        <div class="hw-insta-media">
            <div class="section-title">
                <h5>Publicitate</h5>
            </div>
            <div class="insta-pic">
                <img src="/img/instagram/ip-1.jpg" alt="">
                <img src="/img/instagram/ip-2.jpg" alt="">
                <img src="/img/instagram/ip-3.jpg" alt="">
                <img src="/img/instagram/ip-4.jpg" alt="">
            </div>
        </div>
    </div>
    <!-- Humberger Menu End -->
</div>

</body>
</html>
