<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Trend</title>
</head>
<body>

<div th:fragment="trend">
    <div class="best-of-post">
        <div class="section-title">
            <h5>Skill-uri în trend</h5>
        </div>
        <div class="bp-item">
            <div class="bp-loader">
                <div class="loader-circle-wrap">
                    <div class="loader-circle">
                                            <span class="circle-progress-1" data-cpid="id-1" data-cpvalue="95"
                                                  data-cpcolor="#812ACFFF"></span>
                        <div class="review-point">9.5</div>
                    </div>
                </div>
            </div>
            <div class="bp-text">
                <h6><a href="#">This gaming laptop with a GTX 1660...</a></h6>
                <ul>
                    <li><i class="fa fa-clock-o"></i> Aug 01, 2019</li>
                    <li><i class="fa fa-comment-o"></i> 20</li>
                </ul>
            </div>
        </div>
        <div class="bp-item">
            <div class="bp-loader">
                <div class="loader-circle-wrap">
                    <div class="loader-circle">
                                            <span class="circle-progress-1" data-cpid="id-2" data-cpvalue="85"
                                                  data-cpcolor="#812ACFFF"></span>
                        <div class="review-point">8.5</div>
                    </div>
                </div>
            </div>
            <div class="bp-text">
                <h6><a href="#">This gaming laptop with a GTX 1660...</a></h6>
                <ul>
                    <li><i class="fa fa-clock-o"></i> Aug 01, 2019</li>
                    <li><i class="fa fa-comment-o"></i> 20</li>
                </ul>
            </div>
        </div>
        <div class="bp-item">
            <div class="bp-loader">
                <div class="loader-circle-wrap">
                    <div class="loader-circle">
                                            <span class="circle-progress-1" data-cpid="id-3" data-cpvalue="80"
                                                  data-cpcolor="#812ACFFF"></span>
                        <div class="review-point">8.0</div>
                    </div>
                </div>
            </div>
            <div class="bp-text">
                <h6><a href="#">This gaming laptop with a GTX 1660...</a></h6>
                <ul>
                    <li><i class="fa fa-clock-o"></i> Aug 01, 2019</li>
                    <li><i class="fa fa-comment-o"></i> 20</li>
                </ul>
            </div>
        </div>
        <div class="bp-item">
            <div class="bp-loader">
                <div class="loader-circle-wrap">
                    <div class="loader-circle">
                                            <span class="circle-progress-1" data-cpid="id-4" data-cpvalue="75"
                                                  data-cpcolor="#812ACFFF"></span>
                        <div class="review-point">7.5</div>
                    </div>
                </div>
            </div>
            <div class="bp-text">
                <h6><a href="#">This gaming laptop with a GTX 1660...</a></h6>
                <ul>
                    <li><i class="fa fa-clock-o"></i> Aug 01, 2019</li>
                    <li><i class="fa fa-comment-o"></i> 20</li>
                </ul>
            </div>
        </div>
    </div>
</div>

</body>
</html>