<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Amin Template">
    <meta name="keywords" content="Amin, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SkillSwap</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cinzel:400,700,900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/css/barfiller.css" type="text/css">
    <link rel="stylesheet" href="/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <div th:replace="~{fragments/lateral-menu :: lateral-menu}"></div>

    <div th:replace="~{/fragments/navbar :: navbar}"></div>

    <!-- Details Hero Section Begin -->
    <section class="details-hero-section set-bg" data-setbg="img/details/details-post.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="details-hero-text">
                        <div class="label"><span>Discută</span></div>
                        <div class="label"><span>chiar</span></div>
                        <div class="label"><span>aici</span></div>
                        <h3>Conectează-te instant cu mentori și membri ai comunității</h3>
                        <ul>
                            <li>by <span>Admin</span></li>
                            <li>Online acum: <span>247 utilizatori</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Details Hero Section End -->

    <!-- Details Post Section Begin -->
    <section class="details-post-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 p-0">
                    <div class="details-text">
                        <div class="dt-comment">
                            <h4>Live chat</h4>
                            <div class="dc-item">
                                <div class="dc-pic">
                                    <img src="/img/details/comment/comment-1.jpg" alt="">
                                </div>
                                <div class="dc-text">
                                    <h5>Brandon Kelley</h5>
                                    <span class="c-date">15 Aug 2017</span>
                                    <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
                                        adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et
                                        dolore magnam.</p>
                                    <a href="#" class="reply-btn"><span>Reply</span></a>
                                </div>
                            </div>
                            <div class="dc-item">
                                <div class="dc-pic">
                                    <img src="/img/details/comment/comment-3.jpg" alt="">
                                </div>
                                <div class="dc-text">
                                    <h5>Matthew Nelson</h5>
                                    <span class="c-date">15 Aug 2017</span>
                                    <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
                                        adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et
                                        dolore magnam.</p>
                                    <a href="#" class="reply-btn"><span>Reply</span></a>
                                </div>
                            </div>
                            <div class="dc-item">
                                <div class="dc-pic">
                                    <img src="/img/details/comment/comment-3.jpg" alt="">
                                </div>
                                <div class="dc-text">
                                    <h5>Matthew Nelson</h5>
                                    <span class="c-date">15 Aug 2017</span>
                                    <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
                                        adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et
                                        dolore magnam.</p>
                                    <a href="#" class="reply-btn"><span>Reply</span></a>
                                </div>
                            </div>
                            <div class="dc-item">
                                <div class="dc-pic">
                                    <img src="/img/details/comment/comment-1.jpg" alt="">
                                </div>
                                <div class="dc-text">
                                    <h5>Brandon Kelley</h5>
                                    <span class="c-date">15 Aug 2017</span>
                                    <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
                                        adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et
                                        dolore magnam.</p>
                                    <a href="#" class="reply-btn"><span>Reply</span></a>
                                </div>
                            </div>
                        </div>
                        <div class="dt-leave-comment">
                            <h4>Lasă un comentariu</h4>
                            <form action="#">
                                <textarea placeholder="Message"></textarea>
                                <button type="submit">Trimite</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-7">
                    <div class="sidebar-option">

                        <div th:replace="~{fragments/social-media :: social-media}"></div>

                        <div th:replace="~{/fragments/adds :: adds}"></div>

                        <div th:replace="~{/fragments/subscribe :: subscribe}">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Details Post Section End -->

    <div th:replace="~{/fragments/about :: about}"></div>

    <div th:replace="~{/fragments/register :: register}"></div>

    <!-- Search model Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>
    <!-- Search model end -->

    <!-- Js Plugins -->
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.magnific-popup.min.js"></script>
    <script src="/js/circle-progress.min.js"></script>
    <script src="/js/jquery.barfiller.js"></script>
    <script src="/js/jquery.slicknav.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/main.js"></script>
</body>

</html>