<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Amin Template">
    <meta name="keywords" content="Amin, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SkillSwap</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cinzel:400,700,900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/css/barfiller.css" type="text/css">
    <link rel="stylesheet" href="/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/css/style.css" type="text/css">

    <style>
        .hs-item {
            position: relative;
        }

        .hs-item::after {
            content: "";
            position: absolute;
            top: 0; left: 0; right: 0; bottom: 0;
            background: rgba(0,0,0,0.3); /* culoare + transparență */
            z-index: 1;
        }

        .hs-item > * {
            position: relative;
            z-index: 2; /* ca să fie textul peste overlay */
        }

        .ti-pic img {
            width: 60px !important;   /* lățimea dorită */
            height: auto !important;   /* păstrează proporțiile */
            display: block !important;
            margin-right: 10px !important; /* spatiu intre img si txt */
        }

        /*Pentru imaginile de la anunturi*/
        .ip-pic img {
            width: 370px !important;       /* lățimea dorită */
            height: 247px !important;      /* înălțimea dorită */
            object-fit: cover !important;  /* taie marginile dacă imaginea nu e exact proporțională */
        }


    </style>
</head>

<body>
<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>

<div th:replace="~{fragments/lateral-menu :: lateral-menu}"></div>

<div th:replace="~{/fragments/navbar :: navbar}"></div>

<!-- Hero Section Begin -->
<section class="hero-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="hs-text">
                    <div class="label"><span>Începe acum</span></div>
                    <h3>Schimbă-ți cunoștințele și câștigă noi skill-uri</h3>
                    <div class="ht-meta">
                        <br>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-5 col-md-6 offset-lg-1 offset-xl-2">
                <div class="trending-post">
                    <div class="section-title">
                        <h5>Încearcă acum</h5>
                    </div>
                    <div class="trending-slider owl-carousel">
                        <div class="single-trending-item">
                            <div class="trending-item">
                                <div class="ti-pic">
                                    <img src="/img/skill/skill-programming.png" alt="programming">
                                </div>
                                <div class="ti-text">
                                    <h6><a href="#">Programare Java</a></h6>
                                </div>
                            </div>
                            <div class="trending-item">
                                <div class="ti-pic">
                                    <img src="/img/skill/skill-guitar.png" alt="guitar">
                                </div>
                                <div class="ti-text">
                                    <h6><a href="#">Chitară acustică</a></h6>
                                </div>
                            </div>
                            <div class="trending-item">
                                <div class="ti-pic">
                                    <img src="/img/skill/skill-photoshop.png" alt="photoshop">
                                </div>
                                <div class="ti-text">
                                    <h6><a href="#">Editare Photoshop</a></h6>
                                </div>
                            </div>
                            <div class="trending-item">
                                <div class="ti-pic">
                                    <img src="/img/skill/skill-english.png" alt="english">
                                </div>
                                <div class="ti-text">
                                    <h6><a href="#">Engleză conversațională</a></h6>
                                </div>
                            </div>
                        </div>

                        <div class="single-trending-item">
                            <div class="trending-item">
                                <div class="ti-pic">
                                    <img src="/img/skill/skill-cooking.png" alt="cooking">
                                </div>
                                <div class="ti-text">
                                    <h6><a href="#">Gătit sănătos</a></h6>
                                </div>
                            </div>
                            <div class="trending-item">
                                <div class="ti-pic">
                                    <img src="/img/skill/skill-public-speaking.png" alt="public speaking">
                                </div>
                                <div class="ti-text">
                                    <h6><a href="#">Public Speaking</a></h6>
                                </div>
                            </div>
                            <div class="trending-item">
                                <div class="ti-pic">
                                    <img src="/img/skill/skill-photography.png" alt="photography">
                                </div>
                                <div class="ti-text">
                                    <h6><a href="#">Fotografie</a></h6>
                                </div>
                            </div>
                            <div class="trending-item">
                                <div class="ti-pic">
                                    <img src="/img/skill/skill-dance.png" alt="dance">
                                </div>
                                <div class="ti-text">
                                    <h6><a href="#">Dans modern</a></h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="hero-slider owl-carousel">
        <div class="hs-item set-bg" data-setbg="img/hero/img-bg-3.png"></div>
        <div class="hs-item set-bg" data-setbg="img/hero/img-bg-1.png"></div>
        <div class="hs-item set-bg" data-setbg="img/hero/img-bg-2.png"></div>
    </div>
</section>
<!-- Hero Section End -->

<!-- Instagram Post Section Begin -->
<section class="instagram-post-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="section-title">
                    <h5>Anunțuri noi</h5>
                </div>

<!--                img 370 x 247-->
                <div class="ip-item">
                    <div class="ip-pic">
                        <img src="img/skill/skill-programming.png" alt="programming">
                    </div>
                    <div class="ip-text">
                        <div class="label"><span>NOU</span></div>
                        <h5><a href="#">Ofer lecții de programare Java în schimb de design grafic</a></h5>
                        <ul>
                            <li><span>Andrei</span></li>
                            <li><i class="fa fa-clock-o"></i>17 august 2025</li>
                        </ul>
                        <p>Caut pe cineva care mă poate ajuta cu Photoshop. La schimb, te învăț să scrii cod în Java de la 0.
                            Ne putem conecta online sau față în față.</p>
                    </div>
                </div>

                <div class="ip-item">
                    <div class="ip-pic">
                        <img src="/img/skill/skill-photography.png" alt="fotografie">
                    </div>
                    <div class="ip-text">
                        <div class="label"><span>NOU</span></div>
                        <h5><a href="#">Ofer cursuri de fotografie în schimb de lecții de engleză</a></h5>
                        <ul>
                            <li><span>Maria</span></li>
                            <li><i class="fa fa-clock-o"></i>16 august 2025</li>
                        </ul>
                        <p>Am experiență în fotografia de portret și peisaj. Îmi doresc să îmi îmbunătățesc engleza conversațională.</p>
                    </div>
                </div>

                <div class="ip-item">
                    <div class="ip-pic">
                        <img src="/img/skill/skill-guitar.png" alt="muzica">
                    </div>
                    <div class="ip-text">
                        <div class="label"><span>NOU</span></div>
                        <h5><a href="#">Predau chitară acustică în schimb de ajutor la programare</a></h5>
                        <ul>
                            <li><span>Alex</span></li>
                            <li><i class="fa fa-clock-o"></i>15 august 2025</li>
                        </ul>
                        <p>Sunt pasionat de muzică și pot învăța pe oricine acorduri de bază și piese simple. În schimb, caut pe cineva care știe JavaScript.</p>
                    </div>
                </div>

                <div class="ip-item">
                    <div class="ip-pic">
                        <img src="/img/skill/skill-photography.png" alt="fotografie">
                    </div>
                    <div class="ip-text">
                        <div class="label"><span>NOU</span></div>
                        <h5><a href="#">Ofer cursuri de fotografie în schimb de lecții de engleză</a></h5>
                        <ul>
                            <li><span>Maria</span></li>
                            <li><i class="fa fa-clock-o"></i>16 august 2025</li>
                        </ul>
                        <p>Am experiență în fotografia de portret și peisaj. Îmi doresc să îmi îmbunătățesc engleza conversațională.</p>
                    </div>
                </div>

                <div class="ip-item">
                    <div class="ip-pic">
                        <img src="/img/skill/skill-photoshop.png" alt="design grafic">
                    </div>
                    <div class="ip-text">
                        <div class="label"><span>NOU</span></div>
                        <h5><a href="#">Ofer lecții de design grafic în schimb de cursuri de marketing</a></h5>
                        <ul>
                            <li><span>Ioana</span></li>
                            <li><i class="fa fa-clock-o"></i>17 august 2025</li>
                        </ul>
                        <p>Pot să te ajut să înveți Photoshop și Illustrator de la 0. Eu vreau să învăț mai multe despre promovare online.</p>
                    </div>
                </div>

            </div>
            <div class="col-lg-4 col-md-7">
                <div class="sidebar-option">

                    <div th:replace="~{/fragments/social-media :: social-media}"></div>

                    <div th:replace="~{/fragments/adds :: adds}"></div>

                    <div th:replace="~{/fragments/trend :: trend}"></div>

                    <div th:replace="~{/fragments/subscribe :: subscribe}">

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Instagram Post Section End -->

<div th:replace="~{/fragments/about :: about}"></div>

<!-- Search model Begin -->
<div class="search-model">
    <div class="h-100 d-flex align-items-center justify-content-center">
        <div class="search-close-switch">+</div>
        <form class="search-model-form">
            <input type="text" id="search-input" placeholder="Search here.....">
        </form>
    </div>
</div>
<!-- Search model end -->

<!-- Js Plugins -->
<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.magnific-popup.min.js"></script>
<script src="/js/circle-progress.min.js"></script>
<script src="/js/jquery.barfiller.js"></script>
<script src="/js/jquery.slicknav.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/main.js"></script>
</body>

</html>