<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Amin Template">
    <meta name="keywords" content="Amin, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Amin | Template</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cinzel:400,700,900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/css/barfiller.css" type="text/css">
    <link rel="stylesheet" href="/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/css/style.css" type="text/css">

    <style>
        .hs-item {
            position: relative;
        }

        .hs-item::after {
            content: "";
            position: absolute;
            top: 0; left: 0; right: 0; bottom: 0;
            background: rgba(0,0,0,0.3); /* culoare + transparență */
            z-index: 1;
        }

        .hs-item > * {
            position: relative;
            z-index: 2; /* ca să fie textul peste overlay */
        }

        .ti-pic img {
            width: 60px !important;   /* lățimea dorită */
            height: auto !important;   /* păstrează proporțiile */
        }

    </style>
</head>

<body>
<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>

<div th:replace="~{fragments/lateral-menu :: lateral-menu}"></div>

<div th:replace="~{/fragments/navbar :: navbar}"></div>

<!-- Hero Section Begin -->
<section class="hero-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="hs-text">
                    <div class="label"><span>Începe acum</span></div>
                    <h3>Schimbă-ți cunoștințele și câștigă noi skill-uri</h3>
                    <div class="ht-meta">
                        <br>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-5 col-md-6 offset-lg-1 offset-xl-2">
                <div class="trending-post">
                    <div class="section-title">
                        <h5>Treding posts</h5>
                    </div>
                    <div class="trending-slider owl-carousel">
                        <div class="single-trending-item">
                            <div class="trending-item">
                                <div class="ti-pic">
                                    <img src="/img/trending/skill-programming.png" alt="programming">
                                </div>
                                <div class="ti-text">
                                    <h6><a href="#">Programare Java</a></h6>
                                </div>
                            </div>
                            <div class="trending-item">
                                <div class="ti-pic">
                                    <img src="/img/trending/skill-guitar.png" alt="guitar">
                                </div>
                                <div class="ti-text">
                                    <h6><a href="#">Chitară acustică</a></h6>
                                </div>
                            </div>
                            <div class="trending-item">
                                <div class="ti-pic">
                                    <img src="/img/trending/skill-photoshop.png" alt="photoshop">
                                </div>
                                <div class="ti-text">
                                    <h6><a href="#">Editare Photoshop</a></h6>
                                </div>
                            </div>
                            <div class="trending-item">
                                <div class="ti-pic">
                                    <img src="/img/trending/skill-english.png" alt="english">
                                </div>
                                <div class="ti-text">
                                    <h6><a href="#">Engleză conversațională</a></h6>
                                </div>
                            </div>
                        </div>

                        <div class="single-trending-item">
                            <div class="trending-item">
                                <div class="ti-pic">
                                    <img src="/img/trending/skill-cooking.png" alt="cooking">
                                </div>
                                <div class="ti-text">
                                    <h6><a href="#">Gătit sănătos</a></h6>
                                </div>
                            </div>
                            <div class="trending-item">
                                <div class="ti-pic">
                                    <img src="/img/trending/skill-public-speaking.png" alt="public speaking">
                                </div>
                                <div class="ti-text">
                                    <h6><a href="#">Public Speaking</a></h6>
                                </div>
                            </div>
                            <div class="trending-item">
                                <div class="ti-pic">
                                    <img src="/img/trending/skill-photography.png" alt="photography">
                                </div>
                                <div class="ti-text">
                                    <h6><a href="#">Fotografie</a></h6>
                                </div>
                            </div>
                            <div class="trending-item">
                                <div class="ti-pic">
                                    <img src="/img/trending/skill-dance.png" alt="dance">
                                </div>
                                <div class="ti-text">
                                    <h6><a href="#">Dans modern</a></h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="hero-slider owl-carousel">
        <div class="hs-item set-bg" data-setbg="img/hero/img-bg-3.png"></div>
        <div class="hs-item set-bg" data-setbg="img/hero/img-bg-1.png"></div>
        <div class="hs-item set-bg" data-setbg="img/hero/img-bg-2.png"></div>
    </div>
</section>
<!-- Hero Section End -->

<!-- Instagram Post Section Begin -->
<section class="instagram-post-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="section-title">
                    <h5>Instagram</h5>
                </div>
                <div class="ip-item">
                    <div class="ip-pic">
                        <img src="/img/instagram/insta-1.jpg" alt="">
                    </div>
                    <div class="ip-text">
                        <div class="label"><span>Reviews</span></div>
                        <h5><a href="#">Here's an hour of side-quests from The Outer Worlds...</a></h5>
                        <ul>
                            <li>by <span>Admin</span></li>
                            <li><i class="fa fa-clock-o"></i> Aug 01, 2019</li>
                            <li><i class="fa fa-comment-o"></i> 20</li>
                        </ul>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                            ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices...</p>
                    </div>
                </div>
                <div class="ip-item">
                    <div class="ip-pic">
                        <img src="/img/instagram/insta-2.jpg" alt="">
                    </div>
                    <div class="ip-text">
                        <div class="label"><span>Windows</span></div>
                        <h5><a href="#">Infinity Ward's focus isn't on battle royale, Call of...</a></h5>
                        <ul>
                            <li>by <span>Admin</span></li>
                            <li><i class="fa fa-clock-o"></i> Aug 01, 2019</li>
                            <li><i class="fa fa-comment-o"></i> 20</li>
                        </ul>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                            ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices...</p>
                    </div>
                </div>
                <div class="ip-item">
                    <div class="ip-pic">
                        <img src="/img/instagram/insta-3.jpg" alt="">
                    </div>
                    <div class="ip-text">
                        <div class="label"><span>Hardware</span></div>
                        <h5><a href="#">Capcom asks select fans to test new Resident Evil game</a></h5>
                        <ul>
                            <li>by <span>Admin</span></li>
                            <li><i class="fa fa-clock-o"></i> Aug 01, 2019</li>
                            <li><i class="fa fa-comment-o"></i> 20</li>
                        </ul>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                            ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices...</p>
                    </div>
                </div>
                <div class="ip-item">
                    <div class="ip-pic">
                        <img src="/img/instagram/insta-4.jpg" alt="">
                    </div>
                    <div class="ip-text">
                        <div class="label"><span>Playstation</span></div>
                        <h5><a href="#">Teamfight Tactics is in chaos after today's patch...</a></h5>
                        <ul>
                            <li>by <span>Admin</span></li>
                            <li><i class="fa fa-clock-o"></i> Aug 01, 2019</li>
                            <li><i class="fa fa-comment-o"></i> 20</li>
                        </ul>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                            ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices...</p>
                    </div>
                </div>
                <div class="pagination-item">
                    <a href="#"><span>1</span></a>
                    <a href="#"><span>2</span></a>
                    <a href="#"><span>3</span></a>
                    <a href="#"><span>Next</span></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-7">
                <div class="sidebar-option">
                    <div class="insta-media">
                        <div class="section-title">
                            <h5>Instagram</h5>
                        </div>
                        <div class="insta-pic">
                            <img src="/img/instagram/ip-1.jpg" alt="">
                            <img src="/img/instagram/ip-2.jpg" alt="">
                            <img src="/img/instagram/ip-3.jpg" alt="">
                            <img src="/img/instagram/ip-4.jpg" alt="">
                        </div>
                    </div>
                    <div class="best-of-post">
                        <div class="section-title">
                            <h5>Best of</h5>
                        </div>
                        <div class="bp-item">
                            <div class="bp-loader">
                                <div class="loader-circle-wrap">
                                    <div class="loader-circle">
                                            <span class="circle-progress-1" data-cpid="id-1" data-cpvalue="95"
                                                  data-cpcolor="#812ACFFF"></span>
                                        <div class="review-point">9.5</div>
                                    </div>
                                </div>
                            </div>
                            <div class="bp-text">
                                <h6><a href="#">This gaming laptop with a GTX 1660...</a></h6>
                                <ul>
                                    <li><i class="fa fa-clock-o"></i> Aug 01, 2019</li>
                                    <li><i class="fa fa-comment-o"></i> 20</li>
                                </ul>
                            </div>
                        </div>
                        <div class="bp-item">
                            <div class="bp-loader">
                                <div class="loader-circle-wrap">
                                    <div class="loader-circle">
                                            <span class="circle-progress-1" data-cpid="id-2" data-cpvalue="85"
                                                  data-cpcolor="#812ACFFF"></span>
                                        <div class="review-point">8.5</div>
                                    </div>
                                </div>
                            </div>
                            <div class="bp-text">
                                <h6><a href="#">This gaming laptop with a GTX 1660...</a></h6>
                                <ul>
                                    <li><i class="fa fa-clock-o"></i> Aug 01, 2019</li>
                                    <li><i class="fa fa-comment-o"></i> 20</li>
                                </ul>
                            </div>
                        </div>
                        <div class="bp-item">
                            <div class="bp-loader">
                                <div class="loader-circle-wrap">
                                    <div class="loader-circle">
                                            <span class="circle-progress-1" data-cpid="id-3" data-cpvalue="80"
                                                  data-cpcolor="#812ACFFF"></span>
                                        <div class="review-point">8.0</div>
                                    </div>
                                </div>
                            </div>
                            <div class="bp-text">
                                <h6><a href="#">This gaming laptop with a GTX 1660...</a></h6>
                                <ul>
                                    <li><i class="fa fa-clock-o"></i> Aug 01, 2019</li>
                                    <li><i class="fa fa-comment-o"></i> 20</li>
                                </ul>
                            </div>
                        </div>
                        <div class="bp-item">
                            <div class="bp-loader">
                                <div class="loader-circle-wrap">
                                    <div class="loader-circle">
                                            <span class="circle-progress-1" data-cpid="id-4" data-cpvalue="75"
                                                  data-cpcolor="#812ACFFF"></span>
                                        <div class="review-point">7.5</div>
                                    </div>
                                </div>
                            </div>
                            <div class="bp-text">
                                <h6><a href="#">This gaming laptop with a GTX 1660...</a></h6>
                                <ul>
                                    <li><i class="fa fa-clock-o"></i> Aug 01, 2019</li>
                                    <li><i class="fa fa-comment-o"></i> 20</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="subscribe-option">
                        <div class="section-title">
                            <h5>Subscribe</h5>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, eiusmod tempor.</p>
                        <form action="#">
                            <input type="text" placeholder="Name">
                            <input type="text" placeholder="Email">
                            <button type="submit"><span>Subscribe</span></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Instagram Post Section End -->

<div th:replace="~{/fragments/about :: about}"></div>

<div th:replace="~{/fragments/register :: register}"></div>

<!-- Search model Begin -->
<div class="search-model">
    <div class="h-100 d-flex align-items-center justify-content-center">
        <div class="search-close-switch">+</div>
        <form class="search-model-form">
            <input type="text" id="search-input" placeholder="Search here.....">
        </form>
    </div>
</div>
<!-- Search model end -->

<!-- Js Plugins -->
<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.magnific-popup.min.js"></script>
<script src="/js/circle-progress.min.js"></script>
<script src="/js/jquery.barfiller.js"></script>
<script src="/js/jquery.slicknav.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/main.js"></script>
</body>

</html>